{% extends 'base.html' %}

{% block main %}
    
<div class="row valign-wrapper">
        <form class="col s12" method="POST" action="{{ url_for('add_music') }}">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="" required name="title" id="title" type="text" class="validate">
              <label for="title">Music title</label>
            </div>
            <div class="input-field col s6">
              <input id="artist" name="artist" type="text" class="validate">
              <label for="artist">Artist or Band name</label>
            </div>
            <div class="input-field col s6">
              <input id="image" name="image" type="text" class="validate">
              <label for="image">Image url</label>
            </div>
            <div class="input-field col s6">
              <input id="video" name="video" type="text" class="validate">
              <label for="video">Video url</label>
            </div>
            <div class="input-field col s12 m6">
              <select class="icons" id="genre" name="genre">
                <option value="" disabled selected>Choose your option</option>
                  {% for genre in genres %}
                    <option value="{{ genre.id }}" data-icon="{{ genre.image }}">{{ genre.name }}</option>
                  {% endfor %}
              </select>
              <label>Images in select</label>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="input-field">
                    <textarea id="description" name="description" class="materialize-textarea" maxlength="2000" data-length="1500"></textarea>
                <label for="description">Description</label>
              </div>
              <button class="btn" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
      <script>
            $(document).ready(function() {
                $('textarea#description').characterCounter();
                $('select').formSelect();
            });
      </script>
{% endblock %}