<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <!-- Google Sign in -->
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
    <title>Music</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Load static files -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body class="indigo darken-1">
    <header>
        {% include 'nav.html' %} 
    </header>

    <main class="container margin-top">
        <div id="particles"></div>
        {% block main %}
        
        {% endblock %}
    </main>

    <footer>

    </footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
</body>
</html>