<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
</head>
<body>

    {% for genre in genres %}
        <div>
            <h1>{{genre.name}}</h1>
            <p>{{genre.description}}</p>
            <h2>Items</h2>
            <ul>
                {% for music in music_items%}
                    {% if music.genre_id == genre.id%}
                        <li>{{music.title}} - {{music.artist}}</li>
                        {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</body>
</html>