{% extends 'base.html' %}

    {% block main %}
        <div class="row">
            {% for genre in genres %}
                <div class="col s12 m4">
                    <div class="card sticky-action">
                        <div class="card-image waves-effect waves-block waves-light">
                            {% if genre.image == '' %}
                                <img class="activator responsive-img" src="https://image.freepik.com/free-photo/hand-crowd-disco_23-2147717087.jpg" alt="">
                            {% else %}
                                <img class="activator responsive-img" src="{{ genre.image }}" alt="">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ genre.name }}
                                <i class="material-icons right">more_vert</i>
                            </span>
                            <p><a href="#">Music items</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ genre.name }}
                                <i class="material-icons right">close</i>
                            </span>
                            <p class="">{{ genre.description }}</p>
                            <ul>
                                {% for music in music_items%}
                                    {% if music.genre_id == genre.id%}
                                        <li>
                                            <span>{{ music.title }} - {{ music.artist }}</span>
                                            <a class="waves-effect waves-light btn" href="{{ url_for('music', mid=music.id, gid=genre.id) }}">details</a>
                                        </li>
                                        {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock main %}