{% extends 'base.html' %}

{% block main %}
<div class="row center">
            
        <div class="card-image col s12 m12">
            {% if genre.image == '' %}
                <img class="radius responsive-img" src="https://image.freepik.com/free-photo/hand-crowd-disco_23-2147717087.jpg" alt="{{ genre.name }}">
            {% else %}
                <img class="radius responsive-img" src="{{ genre.image }}" alt="{{ genre.name }}">
            {% endif %}
        </div>

        <div class="col s12 m12">
            <h3>{{ genre.name }}</h3>
            <div class="divider"></div>
            <p class="left-align">{{ genre.description }}</p>
            <p class="right-align">Added by <i>{{ creator.name }}</i></p>
            {% if genre.user_id == login_session['user_id'] %}
            <div class="">
                <a class="waves-effect waves-light btn left" href="{{ url_for('update_genre', id=genre.id) }}">
                    <i class="material-icons left">edit</i>
                    Update
                </a>
                <a class="waves-effect waves-light red btn right" href="{{ url_for('delete_genre', id=genre.id) }}">
                    <i class="material-icons right">delete_forever</i>
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card">
            <div class="card-title indigo-text text-darken-4">{{ genre.name}}'s playlist</div>
            <ul class="collection">
                {% for music in music_items%}
                    {% if music.genre_id == genre.id%}
                        <li class="collection-item">
                            <a class="indigo-text text-darken-5 waves-effect waves-light" href="{{ url_for('music', mid=music.id, gid=genre.id) }}">
                                {{ music.title }} - {{ music.artist }}
                            </a>
                        </li>
                        {% endif %}
                {% endfor %}
            </ul>
    </div>
{% endblock %}