{% extends 'base.html' %}

{% block main %}
    <div>
        {% if genre.id == music.genre_id %}
        <!-- <h2> {{ genre.name }}'s music</h2> -->
            <section class="row z-depth-2">
                <div class="col s12 m6 ">
                    <img class="radius responsive-img" src="{{ music.image }}" alt="{{ music.title }}">
                </div>
                <figcaption class="col s12 m6">
                    <h3>{{ music.title }}</h3>
                    <p>{{ music.artist }}</p>
                    <p>{{ music.description }}</p>
                </figcaption>
                <div class="col s12 m12">
                    <div class="video-container">
                        <iframe width="420" height="315"
                            src="https://www.youtube.com/embed/{{ music.video }}">
                        </iframe>
                    </div>
                </div>
            </section>
        {% else %}
            <p>{{ music.title }} isn't {{ genre.name }} at all! </p>
        {% endif %}
    </div>
{% endblock %}