{% extends 'base.html' %}

{% block main %}
    
        {% if genre.id == music.genre_id %}
        <!-- <h2> {{ genre.name }}'s music</h2> -->
            <div class="row center">
            
                <div class="card-image col s12 m4">
                    {% if music.image == '' %}
                        <img class="radius responsive-img" src="https://image.freepik.com/free-photo/hand-crowd-disco_23-2147717087.jpg" alt="{{ music.title }}">
                    {% else %}
                        <img class="radius responsive-img" src="{{ music.image }}" alt="{{ music.title }}">
                    {% endif %}
                </div>

                <div class="col s12 m8">
                    <h3>{{ music.title }}</h3>
                    <h5>{{ music.artist }}</h5>
                    <div class="divider"></div>
                    <p class="left-align">{{ music.description }}</p>
                    <p class="right-align">Added by <i>{{ music.user.name }}</i></p>
                    <div class="">
                        <a class="waves-effect waves-light btn left" href="{{ url_for('update_music', id=music.id) }}">
                            <i class="material-icons left">edit</i>
                            Update
                        </a>
                        <a class="waves-effect waves-light red btn right" href="{{ url_for('delete_music', id=music.id) }}">
                            <i class="material-icons right">delete_forever</i>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="col s12 m6">
                    <div class="video-container margin-top">
                        <iframe width="420" height="315"
                            src="https://www.youtube.com/embed/{{ music.video }}">
                        </iframe>
                    </div>
                </div>
                
                <div class="col s12 m6 margin-top">
                    {% if num_of_music == 1 %}
                        No other music in {{ genre.name }} has been added yet!
                    {% else %}
                        <div class="card">
                            <ul class="collection with-header">
                                <li class="collection-header indigo-text text-darken-4"><h4>Playlist</h4></li>
                                {% for other in playlist  %}
                                    {% if not other.id == music.id %}
                                    <li class="collection-item row">
                                        <a class="indigo-text text-darken-5 waves-effect waves-light col s12 m6" href="{{ url_for('music', mid=other.id, gid=genre.id) }}">
                                            {{ other.title }} by {{ other.artist }}
                                        </a>
                                        <p class="grey-text right-align col s12 m6">Added by <i>{{ other.user.name }}</i></p>
                                    </li> 
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>

                

            
        {% else %}
            <p>{{ music.title }} isn't {{ genre.name }} at all! </p>
        {% endif %}
    </div>
{% endblock %}