<nav class="indigo darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Home</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {% if login_session['username'] %}
            <ul class="hide-on-med-and-down">
                <li><a href="{{ url_for('add_genre') }}">Add genre</a></li>
                <li><a href="{{ url_for('add_music') }}">Add Music</a></li>
            </ul>
            <ul class="right hide-on-med-and-down row">
                <li>
                    <div class="btn btn-floating tooltipped" data-position="bottom" data-tooltip="I am {{ login_session['username'] }}">
                        <img class="responsive-img" src="{{ login_session['picture'] }}" alt="{{ login_session['username'] }}">
                    </div>
                </li>
                <li><a class="radius red btn" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        {% else %}
            <ul class="right hide-on-med-and-down row">
                <li><a class="radius btn" href="{{ url_for('login') }}">login</a></li>
            </ul>
        {% endif %}
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger indigo btn' href='#' data-target='dropdown'>API ENDPOINTS</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown' class='dropdown-content indigo darken-4 z-depth-4'>
            <li><a href="{{ url_for('jsonify_genres') }}" target="_BLANK" class="white-text">All genres</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{ url_for('jsonify_all_music') }}" target="_BLANK" class="white-text">All music</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav indigo lighten-5" id="mobile-demo">
    {% if login_session['username'] %}
        <li><a href="{{ url_for('add_genre') }}">Add genre</a></li>
        <li><a href="{{ url_for('add_music') }}">Add Music</a></li>
        <ul>
            <li><a class="radius red darken-4 btn" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    {% else %}
    <ul>
        <li><a class="radius indigo darken-4 btn" href="{{ url_for('login') }}">Login</a></li>
    </ul>
    {% endif %}
</ul>
